# Ignore all binary files
# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

.idea
Udemy/MyWorkspace/.codelite

#Ignore all object files
*.o
*.pdf
*.d


*.session
*.tags
*.d
*.o
*.pyc
bin
bin/ofMaker
lib
*.mk
*.workspace.session
